body { 
    background-color: #efefef;
}

.wireframe {
    margin-left:auto;
    margin-right:auto;
}

.vcenter {
    display: inline-block !important;
    vertical-align: middle !important;
    float: none !important;
}

.import-button {
    margin-top:15px !important;
}

.drop-shadow {
    box-shadow: 10px 10px 5px #888888 !important;
}

#photoPreview img {
    max-width:100%;
    max-height:100%;
}

#folderSelector {
    display: none;
}

.photo-detail-content {
    padding: 10px 10px;
}

.content-block {
    margin:15px 15px;
}

.title h2 {
    margin:0;
}

/* centered columns styles */
.col-centered {
    float:none;
    margin-left:auto;
    margin-right:auto;
}
.row-centered { text-align:center; }

.column-action { width:5%; }
.column-sort { width:10%; }
.column-description { width:60%; }
.column-image { width:25%; }

#loading {
   width: 100%;
   height: 100%;
   top: 0px;
   left: 0px;
   position: fixed;
   display: block;
   opacity: 0.7;
   background-color: #888;
   z-index: 99;
   text-align: center;
}

#loading-image {
  position: absolute;
  top: 150px;
  left: 45%;
  z-index: 100;
}

